/*font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700;1,900&display=swap'); 
:root{
 --primary-bg-color:#02507F; 
 --secondary-bg-color:#f1e4c2;
}

/*basic css reset */
*{
  padding :0 ;
  margin :0;
  box-sizing :border-box ;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-wdth :768px !important ;
  scroll-behavior: smooth;
}

/*animations */
.focus-in-contract-bck{animation:focus-in-contract-bck 1s cubic-bezier(.25,.46,.45,.94) both}
@keyframes focus-in-contract-bck{0%{letter-spacing:1em;transform:translateZ(300px);filter:blur(12px);opacity:0}100%{transform:translateZ(12px);filter:blur(0);opacity:1}}
/* header */

.header {
  background-color: var(--primary-bg-color);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--primary-bg-color);
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color:#000;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*about section*/
article.about{
  min-width:100%;
  background:  linear-gradient( rgba(0,0,0,0.6), rgba(2,80,127,0.6)) , url("hero.jpg");
  background-size :cover ;
  background-repeat: no-repeat ;
  background-position :center ;
  display:flex;
  flex-direction:column ;
  justify-content :center ;
  align-items: center ;
  margin:0 0 5rem 0;
  height :80vh ;
  color :var(--secondary-bg-color);
}
h1.hero-header{
  font-weight: 900;
  font-size :3.5rem;
  text-align :center ;
}
p.hero-para{
  text-align :center ;
  font-weight: 700 ;
  font-size: 1.5rem ;
  font-style: italic;
}
a.hero-contact,
a.offer-more{
  display :block ;
  width :9rem;
  height :3.2rem ;
  border-radius :0.25rem ;
  padding :0.9rem 1.8rem ;
  }
a.hero-contact{
  color :var(--primary-bg-color);
  background: var(--secondary-bg-color);
  margin-top :3rem;
}
a.hero-contact:hover{
  box-shadow :2px 2px 3px var(--primary-bg-color), -2px -2px 3px var(--primary-bg-color);
}
a{
  text-decoration:none ;
}
/*offer*/
section.offer{
  text-align: center ;
  padding-bottom: 8rem ;
  padding-top: 4rem ;
}
h2.offer-header,
h2.services-header{
  text-align:center ;
  font-weight: 700 ;
  font-size: 1.5rem ;
}
h2.offer-header{
  padding :1rem ;
}
p.offer-desc{
  padding:0 1rem 1rem 1rem ;
  color :var(--primary-bg-color);
  text-align :center 
}
a.offer-desc_latest{
  text-shadow:1px 1px 3px var(--primary-bg-color );
  color: var(--secondary-bg-color);
  font-weight: 900;
}
a.offer-more{
  background :var(--primary-bg-color);
  color: var(--secondary-bg-color);
  margin:3rem auto ; 
}
a.offer-more:hover{
  box-shadow:0 5px 3px #c4c4c4; 
}

/*services */
section.services{
  background :var(--secondary-bg-color);
  padding :8rem 2rem  ;
}
h2.services-header,
h2.projects-header{
  text-transform: uppercase ;
  font-size: small;
}
h2.services-header{
  color :var(--primary-bg-color);
}
p.services-sub{
  font-weight: 900;
  text-transform: capitalize;
  font-size :2.75rem;
  color :#333;
  text-align :center ;
  margin-bottom: 4rem ;
}
div.services-rendered,
div.projects-display,
div.tech-rendered{
  display: grid ;
  grid-template-columns :auto ;
  grid-gap: 4rem ;
  justify-content :center ;
  align-content: center ;
}
div.services-rendered_1,
div.tech-rendered_1{
  width: 9rem;
  height: 9rem;
  border-radius :50%;
  padding-top: 3rem  ;
  margin :0 auto ;
}
div.services-rendered_1{
  background :var(--primary-bg-color);
}
div.services-rendered_1 i{
  color :var(--secondary-bg-color);
}
p.services-rendered_header,
p.tech-rendered_header{
  font-weight: 900 ;
  font-size: 1.5rem ;
  margin-top :1rem ;
}

/*brilliant ideas*/
section.idea{
  min-width:100%;
  background:  linear-gradient( rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 0.1)), url("idea.jpg");
  background-size :cover ;
  background-repeat: no-repeat ;
  background-position :center ;
  display:flex;
  flex-direction:column ;
  justify-content :center ;
  align-items: center ;
  margin:0 0 5rem 0;
  height :80vh ;
  text-align: center;
}
h2.idea-header{
  font-weight: 900;
  font-size: 2.75rem;
  text-align: center;
  color: rgb(252, 248, 248);
}
span.idea-header_primary{
  color:var(--primary-bg-color);
}
a.idea-schedule{
  display: block;
  width: 15rem;
  height: 3.2rem;
  background: var(--primary-bg-color);
  margin-top: 2rem;
  color:var(--secondary-bg-color);
  text-decoration:none;
  border-radius: 0.25rem;
  padding-top: 0.8rem;
}
a.idea-schedule:hover{
  background:var(--primary-bg-color);
  color:var(--secondary-bg-color);
}
/*projects section*/
section#projects{
  text-align: center;
  margin-top :3rem ;
  padding-top :3rem ;
}
h2.projects-header{
  color: var(--primary-bg-color);
}
a.projects-card{
  display :block ;
  text-decoration :none ;
  color :#333;
  width:18rem;
  box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
  transition-duration: 1s;
}
a.projects-card:hover{
  box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.22);
  width: 20rem;
}
a.projects-card img{
  display :block ;
  width: 100%;
  height:20rem ;
  margin:0;
}
p.projects-card_header{
  text-align :left ;
  margin-top: 0;
  padding:0.7rem 0.7rem 0.4rem 0.7rem;
  font-weight :900;
  font-size :0.8rem;
}
p.projects-card_para{
  font-size :0.75rem ;
  text-align :left ;
  opacity: 0.8;
  padding:0 0.7rem 0.7rem 0.7rem ;
}
/*main tech*/
section.tech{
  background: #f4f4f4;
  text-align: center;
  margin-top :8rem ;
  padding-top: 8rem ;
  padding-bottom: 8rem ;
}
h2.tech-header{
  color: var(--primary-bg-color);
  text-transform: capitalize;
  font-weight: 900 ;
  font-size :2.75rem ;
  margin-bottom :3rem;
}
div.tech-rendered_1{
  background: #fff;
  box-shadow:  0px 5px 11px #bdbdbd, -5px 0px 11px #ffffff;
}
div.tech-rendered_1 i{
  color :var(--secondary-bg-color);
}
section.youCan{
  background :var(--primary-bg-color);
  padding-top: 8rem ;
  padding-bottom: 8rem ;
  text-align :center ;
}
p.youCan-header{
  font-weight: 900;
  font-size :2rem ;
  color :#fff;
}
section.youCan a{
  background: var(--secondary-bg-color);
  color :var(--primary-bg-color);
}
/*footer*/
footer.footer{
  text-align :center ;
  padding:3rem 3rem 1rem 3rem;
  margin-top: 3rem ;
}
div.footer-social{
  display :flex ;
  flex-direction :row ;
  justify-content :space-around ;
  align-items :center ;
}
div.footer-social a{
  display :block ;
  width :5rem ;
  height:5rem ;
  background :var(--primary-bg-color);
  padding-top :1.5rem ;
  border-radius :50%;
  color :var(--secondary-bg-color);
  text-decoration :none ;
  box-shadow:  5px 5px 11px #bdbdbd, -5px -5px 11px #ffffff;
}
p.footer-para{
  color :#000;
  font-size :10px;
  font-weight: 900 ;
  padding-top: 2rem;
}
/* tablet */

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  
  section.offer{
  text-align: center ;
  padding-bottom: 4rem ;
  padding-top: 2rem ;
}
h2.offer-header,
h2.services-header{
  text-align:center ;
  font-weight: 700 ;
  font-size: 1.5rem ;
}
h2.offer-header{
  padding :1rem ;
  font-size :2rem ;
}
p.offer-desc{
  padding:0 1rem 1rem 1rem ;
  color :var(--primary-bg-color);
  text-align :center 
}
a.offer-desc_latest{
  text-shadow:1px 1px 3px var(--primary-bg-color );
  color: var(--secondary-bg-color);
  font-weight: 900;
}
a.offer-more{
  background :var(--primary-bg-color);
  color: var(--secondary-bg-color);
  margin:3rem auto ; 
}
a.offer-more:hover{
  box-shadow:0 5px 3px #c4c4c4; 
}

}
