*{
	margin :0;
	padding :0;
  box-sizing :border-box ;
  font-family: 'Abel';
}
#container-fluid{
	
}

header.row{
	
	font-family: 'Cinzel', serif;
	
}
 .navbar{
	background-color: #dd6b00;
	width: 100%;
	z-index: 20;
}
.navbar-brand, .nav-link{
	font-family: 'Cinzel';
	color:greenyellow !important;
}

/******************************ABOUT****************************/
#about::after{
    content: "";
    height: 100vh;
    width: 100%;
    background-image: url(https://res.cloudinary.com/trive/image/upload/v1573301300/wall_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: all 1000ms;
  }

  #about:hover::after{
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  #about:hover .about-me{
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  .about-me{
    position: absolute;
    z-index: 2;
    top:30%;
   /*left: 50%;
    margin-top: 105px;
    margin-left: -145px;*
    width: 300px;
    height: 350px;
    text-align: center;*/
    transition: all 1000ms ease-in;
    color: #333;
  }
  .about-me img{
    height: 200px;
    width:180px;
    border-radius: 20px;
    box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.22);
  }

  /*******************************PROJECTS************************/
  section#projects{
    background-color: rgb(189, 16, 16);
  }
  .carousel-item img{
    max-height: 400px;
  }

  .kk{
    background-color:rgba(217, 231, 214, 0.39) !important;
  }
  .text-shadow{
    
  }
  /***************************MEDIA QUERRIES**************************/
  @media (max-height:350px) and (max-width:350px){
    .about-me{
      top:35%;
    }
    .about-me:hover{
      filter: blur(0px) !important;
    -webkit-filter: blur(0px) !important;
    }
    .about-me:hover #about{
      filter: blur(2px) !important;
    -webkit-filter: blur(2px) !important;
    }
    .about-me img{
      max-width:120px;
      max-height: 140px;
    }
    .about-me h1, .about-me p{
      display: none;
    }
  }
 
  



